.title {
    background-color: rgb(255, 255, 255);
    border-bottom: solid;
    border-color: rgb(51, 51, 51);
    text-align: center;
    height: 250px;
}

.interaction {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 260px;
    height: 100%;
}

.button {
    background-color: rgb(51, 51, 51);
    border: rgb(246, 153, 50);
    border-style: solid;
    border-radius: 12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: rgb(246, 153, 50);
    display: inline-block;
    font-size: 30px;
    margin-top: 50px;
  }

#info_msg {
    display: block;
    font-style: oblique;
    font-weight: bold;
    font-size: 25px;
}

.create-loggers {
    position: absolute;
    top: 150px;
    /* left: 25%; */
}

.download-loggers {
    /* position: absolute; */
    top: 150px;
    position: absolute;
}

.file_label {
    font-size: 30px;
    font-weight: bold;
}

.file {
    /* margin-bottom: 50px; */
    font-size: 30px;
    box-sizing: border-box;
    border: rgb(246, 153, 50);
    border-style: solid;
    width: 335px;
    height: 65px;     
    padding: 15px 20px;
    border-radius: 12px;
}

.vertical-line {
    border-left: 6px solid black;
    top: 100px;
    height: 400px; 
    position:absolute; 
}

@media only screen and (max-width: 768px) {
    .create-loggers {
        left: 5px;
    }

    .download-loggers {
        left: 300px;
    }

    .vertical-line {
        left: 230px;
    }
  }

@media only screen and (min-width: 769px) {
  .create-loggers {
      left: 25%;
  }
  .download-loggers {
      left: 60%;
  }
  .vertical-line {
      left: 50%;
  }
}


