.title {
    background-color: rgb(255, 255, 255);
    border-bottom: solid;
    border-color: rgb(51, 51, 51);
    text-align: center;
}

.interaction {
    text-align: center;
    position: absolute;
    top: 500px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button {
    background-color: rgb(51, 51, 51);
    border: rgb(246, 153, 50);
    border-style: solid;
    border-radius: 12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: rgb(246, 153, 50);
    display: inline-block;
    font-size: 30px;
    margin-top: 50px;
  }

.file_label {
    font-size: 30px;
    font-weight: bold;
}

.file {
    /* margin-bottom: 50px; */
    font-size: 30px;
    box-sizing: border-box;
    border: rgb(246, 153, 50);
    border-style: solid;
    width: 335px;
    height: 65px;     
    padding: 15px 20px;
    border-radius: 12px;
}

#info_msg {
    display: block;
    font-style: oblique;
    font-weight: bold;
    font-size: 25px;
}