<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href='{% static "measure_controller/logging-style.css" %}'>
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    </head>

    <div class="title">
        <img src='{% static "measure_controller/logo-arco.png" %}' alt="Logo ARCO">
    </div>

    <div class="interaction">
        <div class="create-loggers">
            <form action="{% url 'logging' %}" id="init" method="post">
                {% csrf_token %}
                <button type="submit" class="button" onclick='this.disabled=true, document.getElementById("info_msg").innerHTML = "Creating loggers...",this.form.submit();'>Init logs</button>
            </form>
        </div>

        <div class="vertical-line"></div>

        <div class="download-loggers">
            <form action="{% url 'logging' %}" method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div>
                    {{ form.file_name.errors }}
                    <label class="file_label" for={{ form.file_name.id_for_label }}>File Name </label><br>
                    {{ form.file_name }}
                </div>
                <button type="submit" class="button" onclick='this.disabled=true, document.getElementById("info_msg").innerHTML = "Downloading data... This process can take a long time", this.form.submit();'>Download Logs</button>
            </form>
        </div>
        <p id="info_msg"> {{info_text}} </p>
        
        <!-- <p id="info_msg"> The sensor is measuring, press the button when the exercise finished </p> -->
    </div>

    <!-- <script>
        function ShowMsg() {
            document.getElementById("info_msg").innerHTML.style.display = "block";
            location.reload();
        }
    </script> -->

 </html>