<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href='{% static "measure_controller/streaming-style.css" %}'>
    </head>

    <div class="title">
        <img src='{% static "measure_controller/logo-arco.png" %}' alt="Logo ARCO">
    </div>

    <div class="interaction">
        <form action="{% url 'gathering' %}" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div>
                {{ form.file_name.errors }}
                <label for={{ form.file_name.id_for_label }} class = "file_label">File Name </label><br>
                {{ form.file_name }}
            </div>
            <!-- <label for="file" class="file_label">File Name:</label><br> -->
            <!-- {{ form.file_name }} -->
            <!-- <input type="text" class="file" name="file" placeholder="File to sava data..."><br> -->
            <button type="submit" class="button" onclick="this.form.submit(),this.disabled=true;">Begin Measurement</button>
        </form>
        <p id="info_msg"> {{info_text}} </p>
    </div>

    <!-- <script>
        function ShowMsg() {
            document.getElementById("info_msg").innerHTML.style.display = "block";
            location.reload();
        }
    </script> -->

 </html>
